body *{
    background-image: linear-gradient(to top center, #EDF2F4, #CCDAE0);
}

ul *{
    list-style-type: none;
  }

header *{
    text-align: center;
}

h1{
    color: #EF233C;
    font-weight: bold;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-position: center;
}

h3{
    color: #2B2D42;
    font-weight:bold;
    font-size:xx-large;
    text-decoration:none; 
    border-bottom: 3px dashed;
}

section{
    border-width:1px;
    border-style:solid;
    border-color:black;
}

img{
    text-align: center;
    border-width:2px;
    border-style:solid;
    border-color:#8D99AE;
}

footer{
    text-align: right;
}

a:visited{
    color: grey;
}
a:link{
    color: #D90429 ;
}
a:hover{
    color: #2B2D42;
}


